@model cngfapco.Models.ChangePassword

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<h4 class="text-warning">
    <span class="icon icon-warning-sign"></span>
    برای امنیت بیشتر و با توجه به گذشت بیش از 90 روز از آخرین تغییر کلمه عبور، لطفا کلمه عبور خود را تغییر دهید!
</h4>
<hr />
<br />
<script type="text/javascript">
    //debugger;
    $(document).ready(function () {
        $('#message').hide();
        $('#ticked').hide();
        $('#removed').hide();
        $('#ticked2').hide();
        $('#removed2').hide(); 
        $('#btnSave').attr('disabled', 'disabled');
        $('#ReNewPassword').on('keyup', function () {
            if ($('#NewPassword').val() == $('#ReNewPassword').val()) {
                $('#message').hide();
                $('#removed').hide();
                $('#ticked').show();
                $('#ticked').css('color', 'green');
                $('#removed2').hide();
                $('#ticked2').show();
                $('#ticked2').css('color', 'green');
                $('#btnSave').removeAttr('disabled', 'disabled');
            } else {
                document.getElementById("btnSave").disabled = true; 
                $('#ticked').hide();
                $('#ticked2').hide();
                $('#message').show();
                $('#removed').show();
                $('#removed').css('color', 'red');
                $('#removed2').show();
                $('#removed2').css('color', 'red');
                $('#message').html('مقدار وارد شده با کلمه عبور جدید یکسان نمی باشد!').css('color', 'red');     
            }                           
        });
    });
</script>

<div class="space20">
    <div class="space20">
        @using (Html.BeginForm("ChangedPassword", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @*@Html.Hidden("userID", Model.Username)*@

                <div class="form-group">
                    <label>کلمه عبور فعلی</label>
                    <div class="col-md-10">
                        <input class="form-control" name="OldPassword" id="OldPassword" type="password">
                        @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <label>کلمه عبور جدید</label>
                    <div class="col-md-10">
                        <input class="form-control" name="NewPassword" id="NewPassword" type="password">
                        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                        <span id="removed" class="icon icon-remove-circle"></span> 
                        <span id="ticked" class="icon icon-ok-circle"></span>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <label>تایید کلمه عبور جدید</label>
                    <div class="col-md-10">
                        <input class="form-control" name="ReNewPassword" id="ReNewPassword" type="password">
                        @Html.ValidationMessageFor(model => model.ReNewPassword, "", new { @class = "text-danger" })
                        <span id="removed2" class="icon icon-remove-circle"></span> <span id="message"></span> <span id="ticked2" class="icon icon-ok-circle"></span>
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <span class="progress-demo">
                            <button class="ladda-button btn-success" data-color="mint" data-style="expand-left" data-size="s" id="btnSave" onclick="return handleChange()" style="font-family:'B Yekan'"><i class="zmdi zmdi-floppy zmdi-hc-fw"></i>تغییر کلمه عبور</button>
                        </span>
                    </div>
                </div>

            </div>
        }
    </div>
</div>

