@model cngfapco.Models.VehicleRegistration

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>حذف اطلاعات خودرو</h3>

<h4>آیا از حذف اطلاعات انتخاب شده اطمینان دارید؟</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VehicleType.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleType.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.System)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.System)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeofUse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeofUse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerFamily)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerFamily)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NationalCard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NationalCard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobileNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobileNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConstructionYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConstructionYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeftNumberPlate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeftNumberPlate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlphaPlate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlphaPlate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RightNumberPlate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RightNumberPlate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IranNumberPlate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IranNumberPlate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EngineNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EngineNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChassisNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChassisNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleCard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleCard)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-danger" /> |
           <a href="/VehicleRegistrations/Index?WorkshopID=@Model.WorkshopID">
               انصراف
           </a>
        </div>
    }
</div>
