@model cngfapco.Models.VehicleRegistration

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool? isAdmin = (bool?)ViewBag.isAdmin;
}

<!-- BEGIN PAGE CONTAINER-->
<div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">           
            <ul class="breadcrumb">
                <li>
                    <a href="/Home/Index"><i class="icon-home"></i></a><span class="divider">&nbsp;</span>
                </li>
                <li>
                    <a href="/VehicleRegistrations/Index?WorkshopID=@Model.WorkshopID">ثبت اطلاعات خودرو</a> <span class="divider">&nbsp;</span>
                </li>
                <li><a href="#">مشاهده اطلاعات کامل </a><span class="divider-last">&nbsp;</span></li>

            </ul>
        </div>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row-fluid" style="background-color:#ffffff;">
        <div class="span12">
            @*<label class="note text-center text-warning"><i class="icon-warning-sign icon-white"></i> توجه داشته باشید که مهلت ویرایش برای شما تا 24 ساعت از زمان ثبت اطلاعات می باشد، خارج از زمان یاد شده تنها مدیر پروژه قابلیت ویرایش اطلاعات را خواهد داشت.</label>*@
             @{ 
                 // Difference in days, hours, and minutes.
                 TimeSpan ts = DateTime.Now - Model.CreateDate;
                 // Difference in days.
                 int differenceInDays = ts.Days; // This is in int
                 // double differenceInDays = ts.TotalDays; // This is in double
                 // Difference in Hours.
                 int differenceInHours = ts.Hours; // This is in int
                 //double differenceInHours = ts.TotalHours; // This is in double
                 // Difference in Minutes.
                 int differenceInMinutes = ts.Minutes; // This is in int
                                                       //double differenceInMinutes = ts.TotalMinutes; // This is in double

                 @*if(ts.Days<1 && isAdmin==false)
                 {
                      <a href="/VehicleRegistrations/Edit?id=@Model.ID ">
                        <button class="btn btn-warning"><i class="icon-pencil icon-white"></i> ویرایش اطلاعات </button>
                      </a>
                 }
                 if (isAdmin == true)
                 {
                    <a href="/VehicleRegistrations/Edit?id=@Model.ID ">
                        <button class="btn btn-warning"><i class="icon-pencil icon-white"></i> ویرایش اطلاعات </button>
                    </a>
                 }*@

            }
        
           
            <!-- BEGIN SAMPLE FORM widget-->
            <div class="widget">
                <div class="widget-title">
                    <h4><i class="icon-reorder"></i>اطلاعات کامل خودروی تبدیل شده (@Model.CreateDate)</h4>
                    <span class="tools">
                        <span class="input-error tooltips" data-original-title=" ویرایش اطلاعات، بارگذاری، ویرایش و مشاهده فایل های پیوست از طریق دکمه تنظیمات و بارگذاری فایل امکان پذیر می باشد!">
                            <i class="icon-exclamation-sign text-primary"> <span class="h3" style="font-family:Vazir;"> راهنما </span> </i>
                        </span>
                        <a href="javascript:;" class="icon-chevron-down"></a>
                        <a href="javascript:;" class="icon-remove"></a>
                    </span>
                    <div class="actions">                        
                        <div class="">
                            <div class="btn-group">
                                <a class="btn" href="#"><i class="icon-cog"></i>  تنظیمات و بارگذاری فایل </a><a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                    <span class="icon-caret-down"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="/VehicleRegistrations/UploadImageList?id=@Model.ID"><i class="icon-folder-open-alt"></i> مشاهده فایل های پیوست </a></li>
                                    @if (Model.Status != true)
                                    {
                                        <li><a href="/VehicleRegistrations/UploadImages?id=@Model.ID"><i class="icon-upload-alt"></i> بارگذاری فایل های پیوست </a></li>
                                        <li><a href="/VehicleRegistrations/Edit?id=@Model.ID" class="text-warning"><i class="icon-pencil"></i> ویرایش </a></li>

                                        if (isAdmin == true)
                                        {
                                            <li><a href="/VehicleRegistrations/Delete?id=@Model.ID" class="text-danger"><i class="icon-remove"></i> حذف </a></li>
                                        }

                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="widget-body form">    
                    
                    <!-- BEGIN FORM-->
                    <div class="span12">                        
                        <div class="span6">
                            <p>
                                <span style="color:#808080;">@Html.DisplayNameFor(model => model.VehicleType.Type)</span> :
                                <span> @Model.VehicleType.Type</span>
                            </p>
                            <p>
                                <span style="color:#808080;">@Html.DisplayNameFor(model => model.System)</span> :
                                <span> @Model.System</span>
                            </p>
                            <p>
                                <span style="color:#808080;">@Html.DisplayNameFor(model => model.TypeofUse.Type)</span> :
                                @try
                                {<span> @Model.TypeofUse.Type</span>}
                            catch { }
                            </p>
                            <p>
                                <span style="color:#808080;">@Html.DisplayNameFor(model => model.OwnerName) و @Html.DisplayNameFor(model => model.OwnerFamily)</span> :
                                <span> @Model.OwnerName @Model.OwnerFamily</span>
                            </p>
                            <p>
                                <span style="color:#808080;">@Html.DisplayNameFor(model => model.NationalCode)</span> :
                                <span dir="rtl"> @Model.NationalCode</span>
                            </p>

                            @*<p>
                                <span style="color:#808080;">@Html.DisplayNameFor(model => model.PhoneNumber)</span> :
                                <span> @Model.PhoneNumber</span>
                            </p>*@
                            <p>
                                <span style="color:#808080;">@Html.DisplayNameFor(model => model.MobileNumber)</span> :
                                <span> @Model.MobileNumber</span>
                            </p>
                            
                        </div>
                        <div class="span6">
                            <p>
                                <span style="color:#808080;">شماره پلاک</span> :
                                <span> ایران </span> <span> @Model.IranNumberPlate</span> |  <span> @Model.RightNumberPlate</span> <span> @Model.AlphaPlate</span> <span> @Model.LeftNumberPlate</span>
                            </p>
                            <p>
                                <span style="color:#808080;">@Html.DisplayNameFor(model => model.ConstructionYear)</span> :
                                <span> @Model.ConstructionYear</span>
                            </p>
                            <p>
                                <span style="color:#808080;">@Html.DisplayNameFor(model => model.EngineNumber)</span> :
                                @if (!string.IsNullOrEmpty(Model.EngineNumber))
                                {
                                    <span> @Model.EngineNumber.ToUpper()</span>
                                }
                            </p>
                            <p>
                                <span style="color:#808080;">@Html.DisplayNameFor(model => model.ChassisNumber)</span> :
                                @if (!string.IsNullOrEmpty(Model.ChassisNumber))
                                {
                                    <span> @Model.ChassisNumber.ToUpper()</span>
                                }
                            </p>
                            <p>
                                @if (!string.IsNullOrEmpty(Model.VIN))
                                {
                                <span> @Model.VIN.ToUpper() : </span>
                                }                                
                                <span style="color:#808080;">VIN </span>

                            </p>
                            <p>
                                <span style="color:#808080;">@Html.DisplayNameFor(model => model.FuelCard)</span> :
                                <span dir="rtl"> @Model.FuelCard</span>
                            </p>
                            @*<p>
                                <span style="color:#808080;">@Html.DisplayNameFor(model => model.NationalCard)</span> :
                                <span>
                                    @if (Model.NationalCard != null)
                                    {
                                        if (Path.GetExtension(Model.NationalCard) == ".jpg" || Path.GetExtension(Model.NationalCard) == ".png")
                                        {
                                            <a href="~/UploadedFiles/Vehicle/NationalCard/@Model.NationalCard" target="_blank">
                                                <img src="~/UploadedFiles/Vehicle/NationalCard/@Model.NationalCard" class="thumbnailBusinessLicense" />
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="~/UploadedFiles/Vehicle/NationalCard/@Model.NationalCard" target="_blank">
                                                <i class="icon-file-alt"></i>
                                            </a>
                                        }

                                    }
                                </span>
                            </p>*@

                            @*<p>
                                <span style="color:#808080;">@Html.DisplayNameFor(model => model.VehicleCard)</span> :
                                <span>
                                    @if (Model.VehicleCard != null)
                                    {
                                        if (Path.GetExtension(Model.VehicleCard) == ".jpg" || Path.GetExtension(Model.VehicleCard) == ".png" || Path.GetExtension(Model.VehicleCard) == ".PNG")
                                        {
                                            <a href="~/UploadedFiles/Vehicle/VehicleCard/@Model.VehicleCard" target="_blank">
                                                <img src="~/UploadedFiles/Vehicle/VehicleCard/@Model.VehicleCard" class="thumbnailBusinessLicense" />
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="~/UploadedFiles/Vehicle/VehicleCard/@Model.VehicleCard" target="_blank">
                                                <i class="icon-file-alt"></i>
                                            </a>
                                        }

                                    }
                                </span>
                            </p>*@

                        </div>
                    </div>
                    
                    <!-- END FORM-->
                </div>
                
            </div>
            <!-- END SAMPLE FORM widget-->
        </div>
    </div>

    <div class="space15"></div>
    <div class="row-fluid" style="background-color:#ffffff;">
        <div class="span12">
            <!-- BEGIN SAMPLE FORM widget-->
            <div class="widget">
                <div class="widget-title">
                    <h4><i class="icon-reorder"></i>اطلاعات فیش های واریزی</h4>
                    <span class="tools">
                        <a href="javascript:;" class="icon-chevron-down"></a>
                        <a href="javascript:;" class="icon-remove"></a>
                    </span>
                </div>
               
                <div class="widget-body form">
                    <!-- BEGIN FORM-->
                    @try
                    {
                        <div class="">
                            @foreach (var item in ViewBag.InvoiceTableOut)
                            {
                                <div class="span6">
                                    <p>
                                        <span style="color:#808080;">شماره فیش واریزی</span> :
                                        <span> @item.Number</span>
                                    </p>
                                    <p>
                                        <span style="color:#808080;">مبلغ واریزی</span> :
                                        <span> @item.Amount</span>
                                    </p>
                                    <p>
                                        <span style="color:#808080;">تاریخ واریزی</span> :
                                        <span> @item.Date</span>
                                    </p>
                                    <p>
                                        <span style="color:#808080;">نوع واریزی</span> :
                                        <span> @item.Type</span>
                                    </p>
                                    <p>
                                        <span style="color:#808080;">توضیحات واریزی</span> :
                                        <span> @item.Description</span>
                                    </p>
                                    <p>
                                        <span style="color:#808080;">تصویر فیش واریزی</span> :
                                        <span>
                                            @if (item.InvoiceFile != null)
                                            {
                                                if (Path.GetExtension(item.InvoiceFile) == ".jpg" || Path.GetExtension(item.InvoiceFile) == ".png" || Path.GetExtension(item.InvoiceFile) == ".PNG")
                                                {
                                                    <a href="~/UploadedFiles/Vehicle/InvoiceFile/@item.InvoiceFile" target="_blank">
                                                        <img src="~/UploadedFiles/Vehicle/InvoiceFile/@item.InvoiceFile" class="thumbnailBusinessLicense" />
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a href="~/UploadedFiles/Vehicle/InvoiceFile/@item.InvoiceFile" target="_blank">
                                                        <i class="icon-file-alt"></i>
                                                    </a>
                                                }

                                            }
                                        </span>
                                    </p>
                                </div>
                            }
                        </div>
                    }
                    catch { }
                    <!-- END FORM-->
                </div>
            </div>
            <!-- END SAMPLE FORM widget-->
        </div>
    </div>

    <div class="space15"></div>
    <div class="row-fluid" style="background-color:#ffffff;">
        <div class="span12">
            <!-- BEGIN SAMPLE FORM widget-->
            <div class="widget">
                <div class="widget-title">
                    <h4><i class="icon-reorder"></i>اطلاعات مخزن (ها)</h4>
                    <span class="tools">
                        <a href="javascript:;" class="icon-chevron-down"></a>
                        <a href="javascript:;" class="icon-remove"></a>
                    </span>
                </div>

                <div class="widget-body form">
                    <!-- BEGIN FORM-->
                    @try
                    {
                        <div class="">
                            @foreach (var item in ViewBag.TankTableOut)
                            {
                                <div class="span6">
                                    <p>
                                        <span style="color:#808080;">شماره سریال</span> :
                                        <span> @item.Serial</span>
                                    </p>
                                    <p>
                                        <span style="color:#808080;">حجم</span> :
                                        <span> @(cngfapco.Controllers.VehicleRegistrationsController.GetTankVolum(Convert.ToInt32(item.Volume)))</span>
                                        @*<span>@item.Volume لیتری </span>*@
                                    </p>
                                    <p>
                                        <span style="color:#808080;">سازنده</span> :
                                        <span> @item.Constractor</span>
                                    </p>
                                    <p>
                                        <span style="color:#808080;">تاریخ تولید</span> :
                                        <span> @item.ProductMonth</span> - <span> @item.ProductYear</span>
                                    </p>
                                    <p>
                                        <span style="color:#808080;">تاریخ انقضا</span> :
                                        <span> @item.ExpirationMonth</span> - <span> @item.ExpirationYear</span>
                                    </p>
                                    <p>
                                        <span style="color:#808080;"> سریال شیر مخزن</span> :
                                        <span> @item.SerialTankValve</span>
                                    </p>
                                    <p>
                                        <span style="color:#808080;"> نوع شیر مخزن</span> :
                                        <span> @item.TypeTankValve</span>
                                    </p>
                                    <p>
                                        <span style="color:#808080;"> سازنده شیر مخزن</span> :
                                        <span> @item.ConstractorTankValve</span>
                                    </p>
                                     <p>
                                        <span style="color:#808080;"> سریال کیت (رگلاتور)</span> :
                                        <span> @item.RegulatorSerial</span>
                                    </p>
                                    <p>
                                        <span style="color:#808080;"> سازنده کیت (رگلاتور)</span> :
                                        <span> @item.RegulatorConstractorID</span>
                                    </p>
                                </div>
                            }
                        </div>
                    }
                    catch { }
                    <!-- END FORM-->
                </div>
            </div>
            <!-- END SAMPLE FORM widget-->
        </div>
    </div>

    <div class="space15"></div>
    <div class="row-fluid" style="background-color:#ffffff;">
        <div class="span12">
            <!-- BEGIN SAMPLE FORM widget-->
            <div class="widget">
                <div class="widget-title">
                    <h4><i class="icon-reorder"></i>اطلاعات تکمیلی خودروهای ثبت نام شده</h4>
                    <span class="tools">
                        <a href="javascript:;" class="icon-chevron-down"></a>
                        <a href="javascript:;" class="icon-remove"></a>
                    </span>
                </div>
                <div class="widget-body form">
                    <!-- BEGIN FORM-->
                    <div class="">
                        <div class="span6">
                            <p>
                                <span style="color:#808080;">@Html.DisplayNameFor(model => model.SerialSparkPreview)</span> :
                                @if (!string.IsNullOrEmpty(Model.SerialSparkPreview))
                                {
                                    <span> @Model.SerialSparkPreview.ToUpper()</span>
                                }
                            </p>
                            <p>
                                <span style="color:#808080;">@Html.DisplayNameFor(model => model.SerialKit)</span> :
                                @if (!string.IsNullOrEmpty(Model.SerialKit))
                                {
                                    <span> @Model.SerialKit.ToUpper()</span>
                                }
                            </p>
                            <p>
                                <span style="color:#808080;">@Html.DisplayNameFor(model => model.SerialKey)</span> :
                                @if (!string.IsNullOrEmpty(Model.SerialKey))
                                {
                                    <span> @Model.SerialKey.ToUpper()</span>
                                }
                            </p>
                            <p>
                                <span style="color:#808080;">@Html.DisplayNameFor(model => model.SerialRefuelingValve)</span> :
                                @if (!string.IsNullOrEmpty(Model.SerialRefuelingValve))
                                {
                                    <span> @Model.SerialRefuelingValve.ToUpper()</span>
                                }
                            </p>
                           
                        </div>
                        <div class="span6">
                            <p>
                                <span style="color:#808080;">@Html.DisplayNameFor(model => model.RefuelingLable)</span> :
                                @if (!string.IsNullOrEmpty(Model.RefuelingLable))
                                {
                                    <span> @Model.RefuelingLable.ToUpper()</span>
                                }
                            </p>
                            <p>
                                <span style="color:#808080;">@Html.DisplayNameFor(model => model.TrackingCode)</span> :
                                <span> @Model.TrackingCode</span>
                            </p>
                            <p>
                                <span style="color:#808080;">@Html.DisplayNameFor(model => model.License)</span> :
                                <span> @Model.License</span>
                            </p>
                           
                            @*<p>
                                <span style="color:#808080;">@Html.DisplayNameFor(model => model.LicenseImage)</span> :
                                <span>
                                    @if (Model.LicenseImage != null)
                                    {
                                        if (Path.GetExtension(Model.LicenseImage) == ".jpg" || Path.GetExtension(Model.LicenseImage) == ".png")
                                        {
                                            <a href="~/UploadedFiles/Vehicle/LicenseImage/@Model.LicenseImage" target="_blank">
                                                <img src="~/UploadedFiles/Vehicle/LicenseImage/@Model.LicenseImage" class="thumbnailBusinessLicense" />
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="~/UploadedFiles/Vehicle/LicenseImage/@Model.LicenseImage" target="_blank">
                                                <i class="icon-file-alt"></i>
                                            </a>
                                        }

                                    }
                                </span>
                            </p>*@

                            @*<p>
                                <span style="color:#808080;">@Html.DisplayNameFor(model => model.HealthCertificate)</span> :
                                <span>
                                    @if (Model.HealthCertificate != null)
                                    {
                                        if (Path.GetExtension(Model.HealthCertificate) == ".jpg" || Path.GetExtension(Model.HealthCertificate) == ".png")
                                        {
                                            <a href="~/UploadedFiles/Vehicle/HealthCertificate/@Model.HealthCertificate" target="_blank">
                                                <img src="~/UploadedFiles/Vehicle/HealthCertificate/@Model.HealthCertificate" class="thumbnailBusinessLicense" />
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="~/UploadedFiles/Vehicle/HealthCertificate/@Model.HealthCertificate" target="_blank">
                                                <i class="icon-file-alt"></i>
                                            </a>
                                        }

                                    }
                                </span>
                            </p>*@
                            @*<p>
                                <span style="color:#808080;">@Html.DisplayNameFor(model => model.InstallationStatus)</span> :
                                @if (Model.InstallationStatus == false)
                                {
                                    <input type="checkbox" id="InstallationStatus"/>
                                }
                                @if (Model.InstallationStatus == true)
                                {
                                    <input type="checkbox" id="InstallationStatus" checked />
                                }
                            </p>*@
                            <p id="Description">
                                <span style="color:#808080;">@Html.DisplayNameFor(model => model.Description)</span> :
                                <span> @Model.Description</span>
                            </p>

                        </div>
                    </div>

                    <!-- END FORM-->
                </div>

            </div>
            <!-- END SAMPLE FORM widget-->
        </div>
    </div>

    <!-- END PAGE CONTENT-->
</div>
<!-- END PAGE CONTAINER-->


