@model cngfapco.Models.VehicleRegistration

@{
    ViewBag.Title = "DetailsPrint";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

<!-- BEGIN PAGE CONTAINER-->
<div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">
           
            <ul class="breadcrumb">
                <li>
                    <a href="/Home/Index"><i class="icon-home"></i></a><span class="divider">&nbsp;</span>
                </li>
                <li>
                    <a href="/VehicleRegistrations/Index">ثبت اطلاعات خودرو</a> <span class="divider">&nbsp;</span>
                </li>
                <li><a href="#">مشاهده اطلاعات کامل </a><span class="divider-last">&nbsp;</span></li>

            </ul>
        </div>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row-fluid" style="background-color:#ffffff;">
        <div class="span12"> 
            <!-- BEGIN SAMPLE FORM widget-->
            <div class="widget">
                <div class="widget-title">
                    <h4><i class="icon-reorder"></i>فرم خالی ثبت اطلاعات خودروها</h4>
                    <span class="tools">
                        <a href="javascript:;" class="icon-chevron-down"></a>
                        <a href="javascript:;" class="icon-remove"></a>
                    </span>
                </div>
                <div class="widget-body form">                    
                    <!-- BEGIN FORM-->
                    <div class="span6">
                        <p>
                            <span style="color:#808080;">@Html.DisplayNameFor(model => model.VehicleType.Type)</span> :
                            <span> ........................</span>
                        </p>
                        <p>
                            <span style="color:#808080;">@Html.DisplayNameFor(model => model.System)</span> :
                            <span> ........................</span>
                        </p>
                        <p>
                            <span style="color:#808080;">@Html.DisplayNameFor(model => model.TypeofUse.Type)</span> :
                            <span> ........................</span>
                        </p>
                        <p>
                            <span style="color:#808080;">@Html.DisplayNameFor(model => model.OwnerName) و @Html.DisplayNameFor(model => model.OwnerFamily)</span> :
                            <span> ........................</span>
                        </p>
                        <p>
                            <span style="color:#808080;">@Html.DisplayNameFor(model => model.NationalCode)</span> :
                            <span> ........................</span>
                        </p>
                        <p>
                            <span style="color:#808080;">@Html.DisplayNameFor(model => model.NationalCard)</span> :
                            <span> ........................</span>
                        </p>
                        <p>
                            <span style="color:#808080;">@Html.DisplayNameFor(model => model.PhoneNumber)</span> :
                            <span> ........................</span>
                        </p>
                        <p>
                            <span style="color:#808080;">@Html.DisplayNameFor(model => model.MobileNumber)</span> :
                            <span> ........................</span>
                        </p>

                    </div>
                    <div class="span6">
                        <p>
                            <span style="color:#808080;">شماره پلاک</span> :
                            <span> ایران </span> <span> ........... </span> |  <span> ........... </span> <span> ........... </span> <span> ........... </span>
                        </p>
                        <p>
                            <span style="color:#808080;">@Html.DisplayNameFor(model => model.ConstructionYear)</span> :
                            <span> ........................</span>
                        </p>
                        <p>
                            <span style="color:#808080;">@Html.DisplayNameFor(model => model.EngineNumber)</span> :
                            <span> ........................</span>
                        </p>
                        <p>
                            <span style="color:#808080;">@Html.DisplayNameFor(model => model.ChassisNumber)</span> :
                            <span> ........................</span>
                        </p>
                        <p>
                            <span style="color:#808080;">@Html.DisplayNameFor(model => model.VehicleCard)</span> :
                            <span> ........................</span>
                        </p>
                        <p>
                            <span style="color:#808080;">@Html.DisplayNameFor(model => model.FuelCard)</span> :
                            <span> ........................</span>
                        </p>
                    </div>
                    <!-- END FORM-->
                </div>
                
            </div>
            <!-- END SAMPLE FORM widget-->
        </div>
    </div>

    <div class="space15"></div>
    <div class="row-fluid" style="background-color:#ffffff;">
        <div class="span12">
            <!-- BEGIN SAMPLE FORM widget-->
            <div class="widget">
                <div class="widget-title">
                    <h4><i class="icon-reorder"></i>اطلاعات فیش های واریزی</h4>
                    <span class="tools">
                        <a href="javascript:;" class="icon-chevron-down"></a>
                        <a href="javascript:;" class="icon-remove"></a>
                    </span>
                </div>
               
                <div class="widget-body form">
                    <!-- BEGIN FORM-->
                    <div class="span6">
                        <p>
                            <span style="color:#808080;">شماره فیش واریزی</span> :
                            <span> ........................</span>
                        </p>
                        <p>
                            <span style="color:#808080;">مبلغ واریزی</span> :
                            <span> ........................</span>
                        </p>
                        <p>
                            <span style="color:#808080;">تاریخ واریزی</span> :
                            <span> ........................</span>
                        </p>
                        <p>
                            <span style="color:#808080;">نوع واریزی</span> :
                            <span> ........................</span>
                        </p>
                        <p>
                            <span style="color:#808080;">توضیحات واریزی</span> :
                            <span> ........................</span>
                        </p>
                        <p>
                            <span style="color:#808080;">تصویر فیش واریزی</span> :
                            <span> ........................</span>
                        </p>
                    </div>

                    <!-- END FORM-->
                </div>
            </div>
            <!-- END SAMPLE FORM widget-->
        </div>
    </div>

    <div class="space15"></div>
    <div class="row-fluid" style="background-color:#ffffff;">
        <div class="span12">
            <!-- BEGIN SAMPLE FORM widget-->
            <div class="widget">
                <div class="widget-title">
                    <h4><i class="icon-reorder"></i>اطلاعات مخزن (ها)</h4>
                    <span class="tools">
                        <a href="javascript:;" class="icon-chevron-down"></a>
                        <a href="javascript:;" class="icon-remove"></a>
                    </span>
                </div>

                <div class="widget-body form">
                    <!-- BEGIN FORM-->
                    <div class="span6">
                        <p>
                            <span style="color:#808080;">شماره سریال</span> :
                            <span> ........................</span>
                        </p>
                        <p>
                            <span style="color:#808080;">حجم</span> :
                            <span> ........................</span>
                        </p>
                        <p>
                            <span style="color:#808080;">سازنده</span> :
                            <span> ........................</span>
                        </p>
                        <p>
                            <span style="color:#808080;">تاریخ تولید</span> :
                            <span> .......................ماه.</span> -<span> .......................سال.</span>
                        </p>
                        <p>
                            <span style="color:#808080;">تاریخ انقضا</span> :
                            <span> .......................ماه.</span> - <span> .......................سال.</span>
                        </p>
                        <p>
                            <span style="color:#808080;"> سریال شیر مخزن</span> :
                            <span> ........................</span>
                        </p>
                        <p>
                            <span style="color:#808080;"> نوع شیر مخزن</span> :
                            <span> ........................</span>
                        </p>
                        <p>
                            <span style="color:#808080;"> سازنده شیر مخزن</span> :
                            <span> ........................</span>
                        </p>
                    </div>
                    <!-- END FORM-->
                </div>
            </div>
            <!-- END SAMPLE FORM widget-->
        </div>
    </div>

    <div class="space15"></div>
    <div class="row-fluid" style="background-color:#ffffff;">
        <div class="span12">
            <!-- BEGIN SAMPLE FORM widget-->
            <div class="widget">
                <div class="widget-title">
                    <h4><i class="icon-reorder"></i>اطلاعات تکمیلی خودروهای ثبت نام شده</h4>
                    <span class="tools">
                        <a href="javascript:;" class="icon-chevron-down"></a>
                        <a href="javascript:;" class="icon-remove"></a>
                    </span>
                </div>
                <div class="widget-body form">
                    <!-- BEGIN FORM-->
                    <div class="span6">
                        <p>
                            <span style="color:#808080;">@Html.DisplayNameFor(model => model.SerialSparkPreview)</span> :
                            <span> ........................</span>
                        </p>
                        <p>
                            <span style="color:#808080;">@Html.DisplayNameFor(model => model.SerialKit)</span> :
                            <span> ........................</span>
                        </p>
                        <p>
                            <span style="color:#808080;">@Html.DisplayNameFor(model => model.SerialKey)</span> :
                            <span> ........................</span>
                        </p>
                        <p>
                            <span style="color:#808080;">@Html.DisplayNameFor(model => model.SerialRefuelingValve)</span> :
                            <span> ........................</span>
                        </p>
                        <p>
                            <span style="color:#808080;">@Html.DisplayNameFor(model => model.RefuelingLable)</span> :
                            <span> ........................</span>
                        </p>
                        <p>
                            <span style="color:#808080;">@Html.DisplayNameFor(model => model.TrackingCode)</span> :
                            <span> ........................</span>
                        </p>

                    </div>
                    <div class="span6">
                        <p>
                            <span style="color:#808080;">@Html.DisplayNameFor(model => model.License)</span> :
                            <span> ........................</span>
                        </p>
                        <p>
                            <span style="color:#808080;">@Html.DisplayNameFor(model => model.LicenseImage)</span> :
                            <span> ........................</span>
                        </p>
                        <p>
                            <span style="color:#808080;">@Html.DisplayNameFor(model => model.HealthCertificate)</span> :
                            <span> ........................</span>
                        </p>
                        <p>
                            <span style="color:#808080;">@Html.DisplayNameFor(model => model.InstallationStatus)</span> :
                            <input type="checkbox" id="InstallationStatus" checked />
                        </p>
                        <p id="Description">
                            <span style="color:#808080;">@Html.DisplayNameFor(model => model.Description)</span> :
                            <span> ............................................................................</span>
                        </p>

                    </div>
                    <!-- END FORM-->
                </div>

            </div>
            <!-- END SAMPLE FORM widget-->
        </div>
    </div>

    <!-- END PAGE CONTENT-->
</div>
<!-- END PAGE CONTAINER-->
