@model IEnumerable<cngfapco.Models.VehicleRegistration>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ExportLayout.cshtml";
    //Layout = null;
    string workshopId = (string)ViewBag.workshopId;
    List<cngfapco.Models.Role> rolName = cngfapco.Helper.Helpers.GetCurrentUserRoles();
}

@{
    System.Web.Script.Serialization.JavaScriptSerializer serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    //serializer.MaxJsonLength = Int32.MaxValue;
}
@*<script type="text/javascript">
var entries = @Html.Raw(serializer.Serialize(cngfapco.Models.VehicleRegistration));
</script>*@

<!-- BEGIN PAGE HEADER-->
<div class="row-fluid">
    <div class="span12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <ul class="breadcrumb">
            <li>
                <a href="/Home/Index"><i class="icon-home"></i></a><span class="divider">&nbsp;</span>
            </li>
            <li>
                <a href="/VehicleRegistrations/WorkshopPage2?parentId=15&itemId=67">لیست مراکز خدمات CNG</a> <span class="divider">&nbsp;</span>
            </li>
            <li><a href="#"> لیست تبدیل</a><span class="divider-last">&nbsp;</span></li>

        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->
<div class="row-fluid">
    <div class="span12">
        <!-- BEGIN SAMPLE FORM widget-->
        <div class="widget">
            <div class="widget-title">
                <h4><i class="icon-reorder"></i>لیست خودروهای ثبت شده</h4>
                <span class="tools">
                    <a href="javascript:;" class="icon-chevron-down"></a>
                    <a href="javascript:;" class="icon-remove"></a>
                </span>
                <div class="actions">
                    @foreach (var item in rolName)
                    {
                        if (item.RoleName.Equals("مرکز خدمات (کارگاه)"))
                        {                           
                            <span>                                
                                <a href="/VehicleRegistrations/PreSelectType">
                                    <button class="btn btn-success" style="font-family:Vazir;"><i class="icon-plus icon-white"></i> فرم ثبت خودرو </button>
                                </a>
                            </span>
                        }
                        else
                        {
                            <span>
                                @*<button class="btn btn-dark disabled" style="font-family:Vazir;" disabled="disabled"><i class="icon-plus icon-white"></i> فرم ثبت خودرو در حال بهینه سازی .... </button>*@
                                <button class="btn btn-dark disabled" style="font-family:Vazir;" disabled="disabled"><i class="icon-plus icon-white"></i> فرم ثبت خودرو </button>
                            </span>
                        }
                    }

                    @*<span>
            <a href="/VehicleRegistrations/Create">
                <button class="btn btn-success"><i class="icon-plus icon-white"></i> افزودن </button>
            </a>
        </span>*@ |
                    <span>
                        <a href="/VehicleRegistrations/DetailsPrint" target="_blank">
                            <i class="icon-print icon-white"></i> فرم خالی
                        </a>
                    </span>
                    @*<span>
            <a href="/VehicleRegistrations/ExportData" target="_blank">
                <i class="icon-download-alt icon-white"></i> Export
            </a>
        </span>*@

                </div>
            </div>
            <div class="widget-body form">

                <!-- BEGIN FORM-->
                <div style="overflow:auto;">
                    @*<button id="btnExport">Export</button>*@
                    <div class="space15"></div>
                    <table id="example" class="display nowrap" style="width:100%">
                        <thead>
                            <tr>
                                <th>ردیف</th>
                                <th>
                                    نوع طرح
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Workshop.Title)
                                </th>

                                <th>
                                    تاریخ تبدیل
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VehicleType.Type)
                                </th>
                                <th>
                                    حجم مخزن
                                </th>
                                <th>
                                    سریال مخزن
                                </th>
                                <th>
                                    سریال شیرمخزن
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TypeofUse.Type)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.OwnerName) و @Html.DisplayNameFor(model => model.OwnerFamily)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.NationalCode)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MobileNumber)
                                </th>
                                <th>
                                    شماره پلاک
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.EngineNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ChassisNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VIN)
                                </th>
                                <th>
                                    شماره بیمه نامه
                                </th>
                                <th> <i class="icon-cog"></i> </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ 
                                int rowNum = 0;
                            }
                            @foreach(var item in ViewBag.vehicleregistration)
                            {
                            <tr>
                                <td>@(rowNum += 1)</td>
                                <td>@item.RegistrationType</td>
                                <td>@item.WorkshopTitle</td>
                                <td>@item.CreateDate</td>
                                <td>@item.VehicleType</td>
                                <td>@item.CylinderBulk</td>
                                <td>@item.CylinderNumber</td>
                                <td>@item.ValveNumber</td>
                                <td>@item.TypeofUse</td>
                                <td>@item.FullName</td>
                                <td>@item.NationalCode</td>
                                <td>@item.MobileNumber</td>
                                <td>@item.Plate</td>
                                <td>@item.EngineNumber</td>
                                <td>@item.ChassisNumber</td>
                                <td>@item.VIN</td>
                                <td>@item.InsuranceNumber</td>
                                <td>
                                    <a href="/VehicleRegistrations/DetailsSection3?Type=@item.RegistrationTypeID&id=@item.ID"> <i class="icon-search icon-white"></i></a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <!-- END FORM-->
            </div>
        </div>
        <!-- END SAMPLE FORM widget-->
    </div>
</div>

@*<script>
        debugger;
        //ثبت بیمه نامه
        function AddInsuranceCode(id) {
            $.get("/VehicleRegistrations/AddInsuranceCode/" + id, function (res) {
                $("#modal-large").modal();
                $("#myModalLabel").html("ثبت بیمه نامه");
                $("#myModalBody").html(res);

            });
        }
    </script>*@

<script>
    $(document).ready(function () {
        $('#example').DataTable({
            dom: 'lBfrtip',
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
            deferRender: true,
            processing: true,
            //"serverSide": true,
            //scrollY: 200,
            //scrollCollapse: true,
            //scroller: true,

            @*ajax: {
                url: "/VehicleRegistrations/AddData?WorkshopID=@workshopId",
                type: "POST"
                //"dataType": "json", // The type of data that you're expecting back from the server.
                //"dataSrc": ""
            },*@

            //columns: [
            //    { data: "rowNum" },
            //    { data: "WorkshopTitle" },
            //    { data: "Date" },
            //    { data: "VehicleType"},
            //    { data: "CylinderBulk"},
            //    { data: "CylinderNumber" },
            //    { data: "ValveNumber" },
            //    { data: "TypeofUse" },
            //    { data: "FullName" },
            //    { data: "NationalCode" },
            //    { data: "MobileNumber" },
            //    { data: "Plate" },
            //    { data: "EngineNumber" },
            //    { data: "ChassisNumber" },
            //    { data: "VIN" },
            //    { data: "InsuranceNumber" },
            //    { data: "ID" }
            //],
            //columnDefs: [{
            //    targets: 16,
            //    data: { "data": "ID" },
            //    render: function (data, type, row, meta) {
            //        return '<a href="/VehicleRegistrations/DetailsSection3?id=' + data + '"> <i class="icon-search icon-white"></i></a>';
            //    }                
            //}],

            buttons: [
                {
                    extend: 'csv',
                    text: 'Export csv',
                    charset: 'utf-8',
                    extension: '.csv',
                    fieldSeparator: ';',
                    fieldBoundary: '',
                    filename: 'VehicleRegistrations_csv',
                    bom: true
                },
                {
                    extend: 'excel',
                    text: 'Export excel',
                    charset: 'utf-8',
                    extension: '.xlsx',
                    fieldSeparator: ';',
                    fieldBoundary: '',
                    filename: 'VehicleRegistrations',
                    bom: true
                }
            ]
        });
    });</script>

