@model IEnumerable<cngfapco.Models.VehicleRegistration>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ExportLayout.cshtml";
    //Layout = null;
}

@{
    System.Web.Script.Serialization.JavaScriptSerializer serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
}
@*<script type="text/javascript">
var entries = @Html.Raw(serializer.Serialize(cngfapco.Models.VehicleRegistration));
</script>*@

<!-- BEGIN PAGE HEADER-->
<div class="row-fluid">
    <div class="span12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <ul class="breadcrumb">
            <li>
                <a href="/Home/Index"><i class="icon-home"></i></a><span class="divider">&nbsp;</span>
            </li>
            @*<li>
                    <a href="#">کارگاه ها</a> <span class="divider">&nbsp;</span>
                </li>*@
            <li><a href="#">ثبت خودرو</a><span class="divider-last">&nbsp;</span></li>

        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->
<div class="row-fluid">
    <div class="span12">
        <!-- BEGIN SAMPLE FORM widget-->
        <div class="widget">
            <div class="widget-title">
                <h4><i class="icon-reorder"></i>لیست خودروهای ثبت شده</h4>
                <span class="tools">
                    <a href="javascript:;" class="icon-chevron-down"></a>
                    <a href="javascript:;" class="icon-remove"></a>
                </span>
                <div class="actions">
                    <span>
                        <a href="/VehicleRegistrations/Create">
                            <button class="btn btn-success"><i class="icon-plus icon-white"></i> افزودن </button>
                        </a>
                    </span> |
                    <span>
                        <a href="/VehicleRegistrations/DetailsPrint" target="_blank">
                            <i class="icon-print icon-white"></i> فرم خالی
                        </a>
                    </span>
                    @*<span>
                            <a href="/VehicleRegistrations/ExportData" target="_blank">
                                <i class="icon-download-alt icon-white"></i> Export
                            </a>
                        </span>*@

                </div>
            </div>
            <div class="widget-body form">

                <!-- BEGIN FORM-->
                <div style="overflow:auto;">
                    @*<button id="btnExport">Export</button>*@
                    <div class="space15"></div>
                    <table class="table table-striped table-bordered table-hover table-advance" id="sample_editable_1" width="100%" >
                        <thead>
                            <tr>
                                <th>ردیف</th>
                                <th>
                                   تاریخ تبدیل
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Workshop.Title)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VehicleType.Type)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TypeofUse.Type)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.OwnerName) و @Html.DisplayNameFor(model => model.OwnerFamily)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MobileNumber)
                                </th>
                                <th>
                                    شماره پلاک
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.EngineNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ChassisNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VIN)
                                </th>
                                <th>
                                    شماره بیمه نامه
                                </th>
                                <th> <i class="icon-cog"></i> </th>
                            </tr>
                        </thead>
                        @{ int rowNum = 0;}
                        <tbody>
                            @foreach (var item in ViewBag.vehicleregistration)
                            {
                                <tr>
                                    <td>@(rowNum+=1)</td>
                                    <td>
                                        @item.CreateDate
                                    </td>
                                     <td>
                                        @item.WorkshopTitle
                                    </td>
                                    <td>
                                        @item.VehicleType
                                    </td>
                                    <td>
                                        @item.TypeofUse
                                    </td>
                                    <td>
                                        @item.FullName
                                    </td>
                                    <td>
                                        @item.MobileNumber
                                    </td>
                                    <td>
                                        @item.Plate
                                    </td>
                                    <td>
                                        @item.EngineNumber
                                    </td>
                                    <td>
                                        @item.ChassisNumber
                                    </td>
                                    <td>
                                        @item.VIN
                                    </td>
                                    <td>
                                        @item.InsuranceNumber
                                    </td>
                                    
                                    <td>
                                        <a href="/VehicleRegistrations/Details?id=@item.ID"> <i class="icon-search icon-white"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <!-- END FORM-->
            </div>
        </div>
        <!-- END SAMPLE FORM widget-->
    </div>
</div>

@*<script>
        debugger;
        //ثبت بیمه نامه
        function AddInsuranceCode(id) {
            $.get("/VehicleRegistrations/AddInsuranceCode/" + id, function (res) {
                $("#modal-large").modal();
                $("#myModalLabel").html("ثبت بیمه نامه");
                $("#myModalBody").html(res);

            });
        }
    </script>*@


<script>
    $(document).ready(function () {
        $('#sample_editable_1').DataTable({
            dom: 'lBfrtip',
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
            buttons: [
                {
                    extend: 'csv',
                    text: 'Export csv',
                    charset: 'utf-8',
                    extension: '.csv',
                    fieldSeparator: ';',
                    fieldBoundary: '',
                    filename: 'VehicleRegistrations_csv',
                    bom: true
                },
                {
                    extend: 'excel',
                    text: 'Export excel',
                    charset: 'utf-8',
                    extension: '.xlsx',
                    fieldSeparator: ';',
                    fieldBoundary: '',
                    filename: 'VehicleRegistrations',
                    bom: true
                }
            ]
            //buttons: [
            //    {
            //        extend: 'excelHtml5',
            //        title: 'Data export excel'
            //    },
            //    {
            //        extend: 'csvHtml5',
            //        title: 'Data export csv'
            //    }
            //]
        });
    });</script>
