@model IEnumerable<cngfapco.Models.RequestFreeSale>

@{
    ViewBag.Title = "RequestFreeSale";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string InCode = (string)ViewBag.InvoiceCode;
    int? WorkshopId = (int?)ViewBag.WorkshopId;
}


<div id="DivIdToPrint">
    <div class="widget" id="allitems">
        <div class="widget-body">
            <div class="row-fluid">
                <table class="table" width="100%">
                    <tr>
                        <th width="20%" style="text-align:center;vertical-align:middle;"><img src="~/img/faplogo.png" width="100" alt="لوگوی شرکت" style="position:inherit;color:#a9a9a9" class="center" /></th>
                        <th width="60%" style="font-family:Vazir;font-size:25px;text-align:center;vertical-align:middle;">درخواست خرید کالا</th>
                        <th width="20%">
                            <br />
                            <p>
                                <span class="text-warning"> شماره سریال : </span><span> @ViewBag.invoiceCode <input value=@ViewBag.invoiceCode type="hidden" id="InvoiceCode" name="InvoiceCode" style="width:100px;border:none;font-family:'B Yekan' ;" required /></span>
                            </p>
                            <p>
                                <span class="text-warning"> تاریخ : </span><span> @DateTime.Now.ToShortDateString() <input type="hidden" id="CreatedDate" name="CreatedDate" value="@DateTime.Now.ToShortDateString()" style="width:100px;border:none;font-family:'B Yekan';" /> </span>
                            </p>
                        </th>
                    </tr>
                </table>
            </div>
            <div style="border:1px solid #262525;font-size:15px;margin-top:7px;background-color:#ffd800;">
                <p class="text-center">
                    <span> مشخصات خریدار </span>
                    <strong class="text-info"> @cngfapco.Helper.Helpers.GetWorkshops(WorkshopId).Title </strong>
                </p>
            </div>
            <div style="border:1px solid #a9a9a9;margin-top:1px;margin-bottom:2px;" id="CustomerInfo">
                @try
                {
                    @Html.Action("Workshops", new { id = WorkshopId })
                }
                catch { }
            </div>

            <div style="border:1px solid #262525;font-size:15px;margin-top:7px;background-color:#ffd800;">
                <p class="text-center"> مشخصات کالای مورد معامله </p>
            </div>
            <div style="border:1px solid #a9a9a9;margin-top:1px;margin-bottom:2px;">
                <div class="">
                    <div>
                        <table id="tblInvoices" class="table table-advance" style="text-align:center;vertical-align:middle;font-size:12px;">
                            <thead>
                                <tr>
                                    <th> ردیف </th>
                                    <th> کد کالا </th>
                                    <th> شرح کالا یا خدمات </th>
                                    <th> تعداد / مقدار </th>
                                    <th> واحد اندازه گیری </th>
                                    <th> مبلغ واحد (ریال) </th>
                                    <th> مبلغ کل (ریال) </th>
                                    <th>  مبلغ تخفیف (ریال) </th>

                                    <th hidden> code </th>
                                    <th hidden> date </th>
                                    <th hidden> EmployerEconomicalnumber </th>
                                    <th hidden> Owners </th>
                                    <th hidden> Employerregistrationnumber </th>
                                    <th hidden> EmployerState </th>
                                    <th hidden> EmployerAddress </th>
                                    <th hidden> EmployerPostalcode </th>
                                    <th hidden> EmployerPhone </th>
                                    <th hidden> EmployerFax </th>
                                    <th hidden> Description </th>
                                    <th hidden> SaleCondition </th>
                                    <th hidden> Comment </th>
                                    <th hidden> ContractID </th>
                                    <th><i class="icon-cog"></i>  </th>
                                </tr>
                            </thead>

                            <tbody>
                                @{
                                    int rowNum = 0;
                                }
                                @foreach (cngfapco.Models.RequestFreeSale invoice in Model)
                                {
                                    <tr>
                                        <td>@(rowNum += 1)</td>
                                        <td>@invoice.ServiceCode</td>
                                        <td>@invoice.ServiceDesc</td>
                                        <td>@invoice.Number</td>
                                        <td>@invoice.UnitofMeasurement</td>
                                        <td>@invoice.UnitAmount</td>
                                        <td class="amount">@(invoice.TotalAmount)</td>
                                        <td>@(invoice.DiscountAmount)</td>
                                        <td hidden>@invoice.InvoiceCode</td>
                                        <td hidden>@invoice.CreatedDate</td>
                                        <td hidden>@invoice.EmployerEconomicalnumber</td>
                                        <td hidden>@invoice.WorkshopsID</td>
                                        <td hidden>@invoice.Employerregistrationnumber</td>
                                        <td hidden>@invoice.EmployerState</td>
                                        <td hidden>@invoice.EmployerAddress</td>
                                        <td hidden>@invoice.EmployerPostalcode</td>
                                        <td hidden>@invoice.EmployerPhone</td>
                                        <td hidden>@invoice.EmployerFax</td>
                                        <td hidden>@invoice.Description</td>
                                        <td hidden>@invoice.SaleCondition</td>
                                        <td hidden>@invoice.Comment</td>
                                        <td hidden>@invoice.EquipmentsID</td>
                                        <td><input class="btn btn-danger btn--icon-text" type="button" value="حـذف" onclick="Remove(this)" style="text-align:center;font-family:Vazir;" /></td>
                                    </tr>
                                }
                            </tbody>

                            <tfoot>
                                <tr>
                                    <td><input class="cho" type="text" id="txtrowNum" style="width:5px; text-align:center;" /></td>
                                    <td><input type="text" id="txtServiceDesc" style="width:50px;resize:both;font-family:'B Yekan';" rows="2" /><input type="hidden" id="txtServiceCode2" style="width:30px;text-align:center;" /></td>
                                    <td style="font-size:12px;">@Html.DropDownList("ServicesID", null, "--بدون انتخاب--", htmlAttributes: new { @id = "txtServiceCode", @style = "width:100%;font-family:Vazir;", @class = "chosen" })</td>
                                    <td><input id="txtNumber" type="text" maxlength="22" style="width:30px;text-align:center;font-family:'B Yekan';" required="required"></td>
                                    <td><input type="text" id="txtUnitofMeasurement" style="width:40px;text-align:center;font-family:'B Yekan';" required="required" /></td>
                                    <td><input id="txtUnitAmount" type="text" data-type="number" style="width:100%;text-align:center;font-family:'B Yekan';" disabled="disabled" required="required"></td>
                                    <td><input id="txtTotalAmount" type="text" data-type="number" style="width:100%;text-align:center;font-family:'B Yekan';" disabled /></td>
                                    <td><input id="txtDiscountAmount" value="" type="text" data-type="number" style="width:100%;text-align:center;resize:horizontal;font-family:'B Yekan';"></td>
                                    <td hidden><input type="text" id="txtInvoiceCode" style="width:auto; text-align:center;" /></td>
                                    <td hidden><input type="text" id="txtCreatedDate" style="width:auto; text-align:center;" /></td>
                                    <td hidden><input type="text" id="txtEmployerEconomicalnumber" style="width:auto; text-align:center;" /></td>
                                    <td hidden><input type="text" id="txtOwners" style="width:auto; text-align:center;" /></td>
                                    <td hidden><input type="text" id="txtEmployerregistrationnumber" style="width:auto; text-align:center;" /></td>
                                    <td hidden><input type="text" id="txtEmployerState" style="width:auto; text-align:center;" /></td>
                                    <td hidden><input type="text" id="txtEmployerAddress" style="width:auto; text-align:center;" /></td>
                                    <td hidden><input type="text" id="txtEmployerPostalcode" style="width:auto; text-align:center;" /></td>
                                    <td hidden><input type="text" id="txtEmployerPhone" style="width:auto; text-align:center;" /></td>
                                    <td hidden><input type="text" id="txtEmployerFax" style="width:auto; text-align:center;" /></td>
                                    <td hidden><input type="text" id="txtDescription" style="width:auto; text-align:center;" /></td>
                                    <td hidden><input type="text" id="txtSaleCondition" style="width:auto; text-align:center;" /></td>
                                    <td hidden><input type="text" id="txtComment" name="txtComment" style="width:auto; text-align:center;" /></td>
                                    <td hidden><input type="text" id="txtContractID" style="width:auto; text-align:center;" /></td>
                                    <td><input class="" type="button" id="btnAdd" value="افزودن" style="text-align:center;font-family:Vazir;" /></td>
                                </tr>
                            </tfoot>

                            <tfoot>
                                <tr>
                                    <td colspan="6"> جمع کل </td>
                                    <td>
                                        <strong class="txtSumAmount" id="txtSumAmount"></strong>
                                        <input class="SumAmount" type="text" name="SumAmount" id="SumAmount" style="border:0px;text-align:center;font-family:'B Yekan';" />
                                    </td>
                                    <td colspan="2"></td>
                                </tr>
                            </tfoot>

                        </table>
                    </div>
                    @*<button type="button" class="btn btn-success btn--icon-text" id="btnSave" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> در حال ثبت اطلاعات">ذخیره اطلاعات</button>*@
                    @*<input type="button" id="btnSave" value="ذخیره اطلاعات" class="btn btn-success btn--icon-text" />*@

                    <script src="~/js/jquery-1.8.3.min.js"></script>
                    <script src="~/js/json2.js"></script>
                    <script type="text/javascript">
                        debugger;
                        $(document).ready(function () {
                            $("#txtServiceCode").change(function () {
                                    $.ajax({
                                        type: 'POST',
                                        url: '@Url.Action("GetFreeSaleEquipment")',
                                        dataType: 'json',
                                        data: { id: $("#txtServiceCode").val(),type:"1" },
                                        success: function (services) {
                                            $.each(services, function (i, service) {
                                                 //alert(service.Title )
                                                $("#txtServiceDesc").val(service.Title);
                                                $("#txtUnitofMeasurement").val("عدد");
                                                $("#txtServiceCode2").val(service.FinancialCode);//
                                                 $("#txtUnitAmount").val(service.Value);//
                                                 $("#txtNumber").val("1");
                                            });
                                            //$.each(users, function (i, user) {
                                            //    $("#DepartmentUnitsID").append('<option value="' + user.Value + '">' +
                                            //        user.Text + '</option>');
                                            //});
                                        },
                                        error: function (ex) {
                                            alert('خطا در انطباق اطلاعات' + ex);
                                        }
                                });
                                return false;
                            });
                        });
                    </script>
                    <script type="text/javascript">
                        $("body").on("click", "#btnAdd", function () {
                            if ($("#txtUnitAmount").val() == "")
                                alert("حتما اطلاعات مربوط به ستونهای تعداد/ مقدار و مبلغ واحد باید پر شود، برای این کار کافی است کالای مورد نظر را از لیست مجدد انتخاب کنید!");
                            else if ($("#txtUnitAmount").val()=="0")
                                alert("مبلغ واحد نمی تواند صفر باشد!");
                            else {
                                //Reference the Name and Country TextBoxes.
                            var txtrowNum = $("#txtrowNum");
                            var txtServiceCode = $("#txtServiceCode2");
                            var txtServiceDesc = $("#txtServiceDesc");
                            var txtNumber = $("#txtNumber");
                            var txtUnitofMeasurement = $("#txtUnitofMeasurement");
                            var txtUnitAmount = $("#txtUnitAmount");
                            var txtTotalAmount = $("#txtTotalAmount");
                            var txtDiscountAmount = $("#txtDiscountAmount");
                            var txtInvoiceCode = $("#txtInvoiceCode");
                            var txtCreatedDate = $("#txtCreatedDate");
                            var txtEmployerEconomicalnumber = $("#txtEmployerEconomicalnumber");
                            var txtOwners = $("#txtOwners");
                            var txtEmployerregistrationnumber = $("#txtEmployerregistrationnumber");
                            var txtEmployerState = $("#txtEmployerState");
                            var txtEmployerAddress = $("#txtEmployerAddress");
                            var txtEmployerPostalcode = $("#txtEmployerPostalcode");
                            var txtEmployerPhone = $("#txtEmployerPhone");
                            var txtEmployerFax = $("#txtEmployerFax");
                            var txtDescription = $("#txtDescription");
                            var txtSaleCondition = $('input[name="SaleCondition"]:checked').val();
                            var txtComment = $("#txtComment");
                             var txtContractID = $("#txtContractID");

                            //Get the reference of the Table's TBODY element.
                            var tBody = $("#tblInvoices > TBODY")[0];

                            //Add Row.
                            var row = tBody.insertRow(-1);

                            //Add txtrowNum cell.
                            var cell = $(row.insertCell(-1));
                            cell.html(txtrowNum.val());

                            //Add txtServiceCode cell.
                            cell = $(row.insertCell(-1));
                            cell.html(txtServiceCode.val());

                            //Add txtServiceDesc cell.
                            cell = $(row.insertCell(-1));
                            cell.html(txtServiceDesc.val());

                            //Add txtNumber cell.
                            cell = $(row.insertCell(-1));
                            cell.html(txtNumber.val());

                            //Add txtUnitofMeasurement cell.
                            cell = $(row.insertCell(-1));
                            cell.html(txtUnitofMeasurement.val());

                            //Add txtUnitAmount cell.
                            cell = $(row.insertCell(-1));
                            cell.html(txtUnitAmount.val().replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ","));

                            //Add txtTotalAmount cell.
                            cell = $(row.insertCell(-1));
                            cell.html(txtTotalAmount.val().replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ","));

                            //Add txtDiscountAmount cell.
                            cell = $(row.insertCell(-1));
                            cell.html(txtDiscountAmount.val().replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ","));

                            //Add txtInvoiceCode cell.
                            cell = $(row.insertCell(-1));
                            cell.html(txtInvoiceCode.val()).hide();

                            //Add txtCreatedDate cell.
                            cell = $(row.insertCell(-1));
                            cell.html(txtCreatedDate.val()).hide();

                            //Add txtEmployerEconomicalnumber cell.
                            cell = $(row.insertCell(-1));
                            cell.html(txtEmployerEconomicalnumber.val()).hide();

                            //Add txtOwners cell.
                            cell = $(row.insertCell(-1));
                            cell.html(txtOwners.val()).hide();

                            //Add txtEmployerregistrationnumber cell.
                            cell = $(row.insertCell(-1));
                            cell.html(txtEmployerregistrationnumber.val()).hide();

                            //Add txtEmployerState cell.
                            cell = $(row.insertCell(-1));
                            cell.html(txtEmployerState.val()).hide();

                            //Add txtEmployerAddress cell.
                            cell = $(row.insertCell(-1));
                            cell.html(txtEmployerAddress.val()).hide();

                            //Add txtEmployerPostalcode cell.
                            cell = $(row.insertCell(-1));
                            cell.html(txtEmployerPostalcode.val()).hide();

                            //Add txtEmployerPhone cell.
                            cell = $(row.insertCell(-1));
                            cell.html(txtEmployerPhone.val()).hide();

                            //Add txtEmployerFax cell.
                            cell = $(row.insertCell(-1));
                            cell.html(txtEmployerFax.val()).hide();

                            //Add txtDescription cell.
                            cell = $(row.insertCell(-1));
                            cell.html(txtDescription.val()).hide();

                            //Add txtSaleCondition cell.
                            cell = $(row.insertCell(-1));
                            cell.html(txtSaleCondition.val()).hide();

                            //Add txtComment cell.
                            cell = $(row.insertCell(-1));
                            cell.html(txtComment.val()).hide();

                            //Add txtContractID cell.
                            cell = $(row.insertCell(-1));
                            cell.html(txtContractID.val()).hide();

                            //Add Button cell.
                            cell = $(row.insertCell(-1));
                            var btnRemove = $("<input />");
                            btnRemove.attr("type", "button");
                            btnRemove.attr("onclick", "Remove(this);");
                            btnRemove.val("حذف");
                            cell.append(btnRemove);

                            //Clear the TextBoxes.
                            txtrowNum.val("");
                            txtServiceCode.val("");
                            txtServiceDesc.val("");
                            txtNumber.val("");
                            txtUnitofMeasurement.val("");
                            txtUnitAmount.val("");
                            txtTotalAmount.val("");
                            txtDiscountAmount.val("");

                            txtInvoiceCode.val("");
                            txtCreatedDate.val("");
                            txtEmployerEconomicalnumber.val("");
                            txtOwners.val("");
                            txtEmployerregistrationnumber.val("");

                            txtEmployerState.val("");
                            txtEmployerAddress.val("");
                            txtEmployerPostalcode.val("");
                            txtEmployerPhone.val("");
                            txtEmployerFax.val("");

                            txtDescription.val("");
                            txtSaleCondition.val("");
                            txtComment.val("");
                            txtContractID.val("");
                            }; 
                        });

                        function Remove(button) {
                            //Determine the reference of the Row using the Button.
                            var row = $(button).closest("TR");
                            var name = $("TD", row).eq(2).html();
                            if (confirm("آیا از حذف ردیف مطمئن هستید؟: " + name)) {
                                //Get the reference of the Table.
                                var table = $("#tblInvoices")[0];

                                //Delete the Table row using it's Index.
                                table.deleteRow(row[0].rowIndex);
                            }
                        };

                        $("body").on("click", "#btnSave", function () {
                            //Loop through the Table rows and build a JSON array.
                            var invoices = new Array();
                            $("#tblInvoices TBODY TR").each(function () {
                                var row = $(this);
                                var invoice = {};
                                invoice.rowNum = row.find("TD").eq(0).html();
                                invoice.ServiceCode = row.find("TD").eq(1).html();
                                invoice.ServiceDesc = row.find("TD").eq(2).html();
                                invoice.Number = row.find("TD").eq(3).html();
                                invoice.UnitofMeasurement = row.find("TD").eq(4).html();
                                invoice.UnitAmount = row.find("TD").eq(5).html().split(',').join('').split('.').join('/');
                                invoice.TotalAmount = row.find("TD").eq(6).html().split(',').join('').split('.').join('/');
                                invoice.DiscountAmount = row.find("TD").eq(7).html().split(',').join('').split('.').join('/');

                                invoice.InvoiceCode = $('#InvoiceCode').val();// row.find("TD").eq(11).html();
                                invoice.CreatedDate = $('#CreatedDate').val();//row.find("TD").eq(12).html();
                                invoice.EmployerEconomicalnumber = $('#EmployerEconomicalnumber').val();//row.find("TD").eq(13).html();
                                invoice.EquipmentsID = row.find("TD").eq(1).html();//row.find("TD").eq(14).html();
                                invoice.WorkshopsID = @WorkshopId;//row.find("TD").eq(14).html();
                                invoice.Employerregistrationnumber = $('#Employerregistrationnumber').val();//row.find("TD").eq(15).html();
                                invoice.EmployerState = $('#EmployerState').val();//row.find("TD").eq(16).html();
                                invoice.EmployerAddress =$('#EmployerAddress').val();// row.find("TD").eq(17).html();
                                invoice.EmployerPostalcode = $('#EmployerPostalcode').val();//row.find("TD").eq(18).html();
                                invoice.EmployerPhone = $('#EmployerPhone').val();//row.find("TD").eq(19).html();
                                invoice.EmployerFax = $('#EmployerFax').val();//row.find("TD").eq(20).html();
                                invoice.Description = $('#Description').val();//row.find("TD").eq(21).html();
                                invoice.SaleCondition = $('input[name="SaleCondition"]:checked').val(); //row.find("TD").eq(22).html();
                                invoice.Comment = $('#Comment').val();//row.find("TD").eq(23).html();
                                invoice.Description = $('#Description').val(); //row.find("TD").eq(24).html();
                                invoice.Insurance = $('#Insurance').val();
                                invoice.ContractID = $('#ContractID').val();
                                invoice.CurrencyTypeID = $('#CurrencyTypeID').val();
                                invoice.Owners=$('#Owners').val();
                                invoices.push(invoice);
                            });

                            //Send the JSON array to Controller using AJAX.
                            $.ajax({
                                type: "POST",
                                url: "/Financials/RequestFreeSale",
                                data: JSON.stringify(invoices),
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                success: function (response) {
                                    if (response.success) {
                                        alert(response.responseText);
                                        $("#btnSave").attr('disabled', true);
                                        $("#btnSave").text('لطفا چند لحظه صبر نمایید تا به صورت خودکار به لیست مربوطه ارجاع داده شوید!');
                                        window.location.href = '/Financials/CallBackRequestFreeSale?WorkshopID=@WorkshopId';
                                    } else {
                                        // DoSomethingElse()
                                        alert(response.responseText);
                                    }
                                },
                                error: function (response) {
                                    alert("ثبت اطلاعات با خطا مواجه شد!"); //
                                }
                            });
                        });
                    </script>

                    <div class="row-fluid" style="border:0px solid #a9a9a9;margin-top:7px;">
                        <table width="100%">
                            <tr>
                                <td colspan="2" style="text-align:right;">
                                    <span style="font-size:12px;margin-right:5px;" class="text-warning"> شرایط و نحوه فروش : </span>
                                    <span style="margin-right:15px;"> <input type="radio" class="SaleCondition1" id="SaleCondition1" name="SaleCondition" value="نقدی" style="font-family:'B Nazanin';font-size:15px;margin-right:15px;color:#222222" checked="checked" /> نقدی </span>
                                    <span style="margin-right:15px;"> <input type="radio" class="SaleCondition2 text-muted" id="SaleCondition2" name="SaleCondition" value="غیر نقدی" style="font-family:'B Nazanin';font-size:15px;margin-right:15px;" /> غیر نقدی</span>
                                </td>
                            </tr>

                            <tr>
                                <td style="text-align:right;" width="10%">
                                    <span style="font-size:12px;margin-right:5px;" class="text-warning"> توضیحات : </span>
                                </td>
                                <td width="90%">
                                    @*<input id="Description" name="Description" type="text" style="width:98%;border:1px solid silver;font-family:'B Nazanin';font-size:15px;margin-right:0px;color:#222222" />*@
                                    <textarea id="Description" name="Description" type="text" style="width:98%;border:1px solid silver;font-family:'B Nazanin';font-size:15px;margin-right:0px;color:#222222"></textarea>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>

            <br />
            <div class="row-fluid" style="margin-top:10px;" hidden>
                <table width="100%" class="text-center">
                    <tr>
                        <td width="30%">
                            <span> مهر و امضای خریدار </span>
                        </td>
                        <td width="40%"></td>
                        <td width="30%"> <span>  </span> </td>
                    </tr>
                </table>

            </div>
            <div class="row-fluid">
                <div class="span12">
                    <button class="ladda-button btn btn-success" id="btnSave" style="font-family:Vazir;width:100%;"> <i class="icon-save"></i> ذخیره اطلاعات و صدور درخواست </button>
                </div>
                <div class="span6">
                    @if (Model.Count() > 0)
                    {
                        <a href="/Financials/InvoicetoPrint?InvoiceCode=@InCode" data-toggle="modal" data-target="#modal-large" onclick="SelectPrintType(@InCode)">
                            <i class="icon-print" style="color:#00ff21;font-size:30px;"></i>
                        </a>
                    }

                </div>
            </div>
            @Html.Action("CheckSalaryRem", new { WorkshopID = WorkshopId})

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {   
        var saleCondition = $('input[name="SaleCondition"]:checked').val();
        $("#permitSaleCondition").val(saleCondition);
        var sum = 0;
        var salaryRem = (parseFloat($('#salaryRem').val().split(',').join('')) * 0.7);
        document.getElementById("permitNonCash").innerHTML = salaryRem.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
        $("body").on("click", "#btnAdd", function () {
            sum += parseFloat($("#txtTotalAmount").val());
            $('#SumAmount').val(sum);
            document.getElementById("txtSumAmount").innerHTML = sum.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
            //
            if (sum < salaryRem)
                //alert("sum is great than talab ... !");
                $("#permitNonCashStatus").val("true");
            else
                $("#permitNonCashStatus").val("false");
            //
            if ($("#permitNonCashStatus").val() == 'false') {  
                //$('.SaleCondition1').is(":checked")
               // $('.SaleCondition2').attr('checked', false);
                if ($("#permitSaleCondition").val() == "غیر نقدی") {
                    $("#btnSave").attr('disabled', 'disabled');
                    $("#btnSave").text("مبلغ فاکتور بیش از مبلغ مجاز خرید غیر نقدی می باشد!")
                    $("#SaleCondition1").attr('checked', 'checked');
                    $("#SaleCondition1").attr('disabled', 'disabled');
                }
                
            };

        });    
});
</script>

<script>
    //مبلغ کل
    $("#txtNumber,#txtUnitAmount").keyup(function () {
        $('#txtTotalAmount').val(parseFloat($('#txtNumber').val()) * $('#txtUnitAmount').val().split(',').join(''));

    });
    //مبلغ کل پس از تخفیف
    $("#txtTotalAmount,#txtDiscountAmount").keyup(function () {

        $('#txtTotalAmountafterDiscount').val($('#txtTotalAmount').val() - $('#txtDiscountAmount').val().split(',').join(''));
        //محاسبه مبلغ تخفیف برای کارگاه های 0.05
        $('#txtDiscountAmount').val($('#txtTotalAmount').val() * 0);

    });

    //مبلغ ارزش افزوده
    $("#txtDiscountAmount").keyup(function () {

        if ($("#ValueAddedCondition").is(':checked'))
            $('#txtAmountTaxandComplications').val($('#txtTotalAmountafterDiscount').val() * 0);// checked
        else
            Math.round(parseFloat($('#txtAmountTaxandComplications').val($('#txtTotalAmountafterDiscount').val() * 0.09)).val(), 0); // unchecked

    });

    //جمع مبلغ کل + جمع مالیات و عوارض
    $(function () {
        $("#txtUnitAmount").click(function () {
            Math.round(parseFloat($('#txtTotalAmountTaxandComplications').val(parseFloat($('#txtTotalAmountafterDiscount').val()) + parseFloat($('#txtAmountTaxandComplications').val()))), 0);
        });
        $('#txtUnitAmount,#txtDiscountAmount').keyup(function () {
            Math.round(parseFloat($('#txtTotalAmountTaxandComplications').val(parseFloat($('#txtTotalAmountafterDiscount').val()) + parseFloat($('#txtAmountTaxandComplications').val()))), 0);
        }).keyup();

    });

    //کد صورت حساب برای ذخیره در دیتا بیس
    $(function () {
        $('#InvoiceCode').keyup(function () {
            var value = $(this).val();
            $('#txtInvoiceCode').val(value);
        }).keyup();
    });
    $(function () {
        $('#txtUnitAmount').keyup(function () {
            var value = $('#InvoiceCode').val();
            $('#txtInvoiceCode').val(value);
        }).keyup();
    });
    //تاریخ صورت حساب برای ذخیره در دیتا بیس
    $(function () {
        $('#CreatedDate').keyup(function () {
            var value = $(this).val();
            $('#txtCreatedDate').val(value);
        }).keyup();
    });
    $(function () {
        $('#txtUnitAmount').keyup(function () {
            var value = $('#CreatedDate').val();
            $('#txtCreatedDate').val(value);
        }).keyup();
    });
    //اطلاعات کارفرمای صورت حساب برای ذخیره در دیتا بیس
    $(function () {
        $('#Owners').change(function () {
            var value = $(this).val();
            $('#txtOwners').val(value);
            $('#txtOwners').val($('#Owners').val());
        }).select();
    });
    $(function () {
        $('#txtUnitAmount').keyup(function () {
            var value = $('#Owners').val();
            $('#txtOwners').val(value);
            $('#txtOwners').val($('#Owners').val());
        }).keyup();
    });
    //شماره اقتصادی خریدار صورت حساب برای ذخیره در دیتا بیس
    $(function () {
        $('#EmployerEconomicalnumber').keyup(function () {
            var value = $(this).val();
            $('#txtEmployerEconomicalnumber').val(value);
        }).keyup();
    });
    $(function () {
        $('#txtUnitAmount').keyup(function () {
            var value = $('#EmployerEconomicalnumber').val();
            $('#txtEmployerEconomicalnumber').val(value);
        }).keyup();
    });
    //شماره ثبت/ ملی خریدار صورت حساب برای ذخیره در دیتا بیس
    $(function () {
        $('#Employerregistrationnumber').keyup(function () {
            var value = $(this).val();
            $('#txtEmployerregistrationnumber').val(value);
        }).keyup();
    });
    $(function () {
        $('#txtUnitAmount').keyup(function () {
            var value = $('#Employerregistrationnumber').val();
            $('#txtEmployerregistrationnumber').val(value);
        }).keyup();
    });
    //اطلاعات آدرس بخش استان کارفرما در صورت حساب برای ذخیره در دیتا بیس
    $(function () {
        $('#EmployerState').change(function () {
            var value = $(this).val();
            $('#txtEmployerState').val(value);
        }).select();
    });
    $(function () {
        $('#txtUnitAmount').keyup(function () {
            var value = $('#EmployerState').val();
            $('#txtEmployerState').val(value);
        }).keyup();
    });
    //اطلاعات آدرس کامل کارفرما در صورت حساب برای ذخیره در دیتا بیس
    $(function () {
        $('#EmployerAddress').change(function () {
            var value = $(this).val();
            $('#txtEmployerAddress').val(value);
        }).select();
    });
    $(function () {
        $('#txtUnitAmount').keyup(function () {
            var value = $('#EmployerAddress').val();// $('#EmployerAddress1').val() + '،' + ' ' + $('#EmployerAddress2').val();
            $('#txtEmployerAddress').val(value);
        }).keyup();
    });
    //اطلاعات کد پستی کارفرما صورت حساب برای ذخیره در دیتا بیس
    $(function () {
        $('#EmployerPostalcode').change(function () {
            var value = $(this).val();
            $('#txtEmployerPostalcode').val(value);
        }).select();
    });
    $(function () {
        $('#txtUnitAmount').keyup(function () {
            var value = $('#EmployerPostalcode').val();
            $('#txtEmployerPostalcode').val(value);
        }).keyup();
    });
    //اطلاعات شماره تماس کارفرما صورت حساب برای ذخیره در دیتا بیس
    $(function () {
        $('#EmployerPhone').change(function () {
            var value = $(this).val();
            $('#txtEmployerPhone').val(value);
        }).select();
    });
    $(function () {
        $('#txtUnitAmount').keyup(function () {
            var value = $('#EmployerPhone').val();
            $('#txtEmployerPhone').val(value);
        }).keyup();
    });
    //اطلاعات شماره نمابر کارفرما صورت حساب برای ذخیره در دیتا بیس
    $(function () {
        $('#EmployerFax').change(function () {
            var value = $(this).val();
            $('#txtEmployerFax').val(value);
        }).select();
    });
    $(function () {
        $('#txtUnitAmount').keyup(function () {
            var value = $('#EmployerFax').val();
            $('#txtEmployerFax').val(value);
        }).keyup();
    });
    //اطلاعات شرایط و نحوه فروش صورت حساب برای ذخیره در دیتا بیس
    //
    $(function () {
        $('#SaleCondition').change(function () {
            var value = $('input[name="SaleCondition"]:checked').val();
            $('#txtSaleCondition').val(value);
        }).select();
    });
    $(function () {
        $('#txtUnitAmount').keyup(function () {
            var value = $('input[name="SaleCondition"]:checked').val();
            $('#txtSaleCondition').val(value);
        }).keyup();
    });
    //اطلاعات توضیحات صورت حساب برای ذخیره در دیتا بیس
    $(function () {
        $('#Description').change(function () {
            var value = $(this).val();
            $('#txtDescription').val(value);
        }).select();
    });
    $(function () {
        $('#txtUnitAmount').keyup(function () {
            var value = $('#Description').val();
            $('#txtDescription').val(value);
        }).keyup();
    });
    //
    $(function () {
        $('#Comment').change(function () {
            var value = $(this).val();
            $('#txtComment').val(value);
        }).select();
    });
    $(function () {
        $('#txtUnitAmount').keyup(function () {
            var value = $('#Comment').val();
            $('#txtComment').val(value);
        }).keyup();
    });
    //اطلاعات قرارداد مرتبط با صورت حساب برای ذخیره در دیتا بیس
    $(function () {
        $('#ContractID').change(function () {
            var value = $(this).val();
            $('#txtContractID').val(value);
        }).select();
    });
    $(function () {
        $('#txtUnitAmount').keyup(function () {
            var value = $('#ContractID').val();
            $('#txtContractID').val(value);
        }).keyup();
    });
</script>

<script>
    $(function () {
        $('#allitems').mousemove(function () {
            //
             var saleCondition = $('input[name="SaleCondition"]:checked').val();
            $("#permitSaleCondition").val(saleCondition);
            if ($("#permitNonCashStatus").val() == 'false') {
                if ($("#permitSaleCondition").val() == "غیر نقدی") {
                    $("#btnSave").attr('disabled', 'disabled');
                    $("#btnSave").text("مبلغ فاکتور بیش از مبلغ مجاز خرید غیر نقدی می باشد!")
                     $("#SaleCondition1").attr('checked', 'checked');
                    $("#SaleCondition2").attr('disabled', 'disabled');
                }
                if ($("#permitSaleCondition").val() == "نقدی") {
                    $("#btnSave").removeAttr('disabled', 'disabled');
                    $("#btnSave").text("ذخیره اطلاعات و صدور درخواست")
                     $("#SaleCondition1").attr('checked', 'checked');
                    $("#SaleCondition2").attr('disabled', 'disabled');
                }
            };
            //مبلغ کل
            $('#txtTotalAmount').val($('#txtNumber').val().split(',').join('') * $('#txtUnitAmount').val().split(',').join(''));
            //محاسبه مبلغ تخفیف برای کارگاه های 0.05
            $('#txtDiscountAmount').val($('#txtTotalAmount').val() * 0);
            //مبلغ کل پس از تخفیف
            $('#txtTotalAmountafterDiscount').val($('#txtTotalAmount').val() - $('#txtDiscountAmount').val().split(',').join(''));
            //مبلغ ارزش افزوده
            if ($("#ValueAddedCondition").is(':checked'))
                $('#txtAmountTaxandComplications').val($('#txtTotalAmountafterDiscount').val() * 0);// checked
            else
                $('#txtAmountTaxandComplications').val($('#txtTotalAmountafterDiscount').val() * 0.09); // unchecked
            //جمع مبلغ کل + جمع مالیات و عوارض
            $('#txtTotalAmountTaxandComplications').val(parseFloat($('#txtTotalAmountafterDiscount').val()) + parseFloat($('#txtAmountTaxandComplications').val()));
            //کد صورت حساب برای ذخیره در دیتا بیس
            $('#txtInvoiceCode').val('#InvoiceCode');
            //تاریخ صورت حساب برای ذخیره در دیتا بیس
            $('#txtCreatedDate').val('#CreatedDate');
            //اطلاعات کارفرمای صورت حساب برای ذخیره در دیتا بیس
            $('#txtOwners').val('#Owners');
            //شماره اقتصادی خریدار صورت حساب برای ذخیره در دیتا بیس
            $('#txtEmployerEconomicalnumber').val('#EmployerEconomicalnumber');
            //شماره ثبت/ ملی خریدار صورت حساب برای ذخیره در دیتا بیس
            $('#txtEmployerregistrationnumber').val('#Employerregistrationnumber');
            //اطلاعات آدرس بخش استان کارفرما در صورت حساب برای ذخیره در دیتا بیس
            $('#txtEmployerState').val('#EmployerState');
            //اطلاعات آدرس کامل کارفرما در صورت حساب برای ذخیره در دیتا بیس
            var value = $('#EmployerAddress').val();// + '،' + ' ' + $('#EmployerAddress2').val();
            $('#txtEmployerAddress').val(value);
            //اطلاعات کد پستی کارفرما صورت حساب برای ذخیره در دیتا بیس
            $('#txtEmployerPostalcode').val('#EmployerPostalcode');
            //اطلاعات شماره تماس کارفرما صورت حساب برای ذخیره در دیتا بیس
            $('#txtEmployerPhone').val('#EmployerPhone');
            //اطلاعات شماره نمابر کارفرما صورت حساب برای ذخیره در دیتا بیس
            $('#txtEmployerFax').val('#EmployerFax');
            //اطلاعات شرایط و نحوه فروش صورت حساب برای ذخیره در دیتا بیس
            $('#txtSaleCondition').val('#SaleCondition');
            //اطلاعات توضیحات صورت حساب برای ذخیره در دیتا بیس
            $('#txtDescription').val('#Description');
            $('#txtComment').val('#Comment');
            //اطلاعات قرارداد مرتبط با صورت حساب برای ذخیره در دیتا بیس
            $('#txtContractID').val('#ContractID');

        }).select();
    });
</script>

<script>
    //جهت نمایش مقادیر نوع ارز/ ریال در هدر جدول
    $(function () {
        $('#CurrencyTypeID').change(function () {
            var value = $('#CurrencyTypeID').find(":selected").text();
            //var value = $(this).val();
            $('#txtCurrencyType').val(value);
            $('#txtCurrencyType2').val(value);
            $('#txtCurrencyType3').val(value);
            $('#txtCurrencyType4').val(value);
            $('#txtCurrencyType5').val(value);
            $('#txtCurrencyType6').val(value);
        }).keyup();
    });
    //
    $(function () {
        $('#allitems').mousemove(function () {
            var value = $('#CurrencyTypeID').find(":selected").text();
            //var value = $(this).val();
            $('#txtCurrencyType').val(value);
            $('#txtCurrencyType2').val(value);
            $('#txtCurrencyType3').val(value);
            $('#txtCurrencyType4').val(value);
            $('#txtCurrencyType5').val(value);
            $('#txtCurrencyType6').val(value);
        });
    });
</script>