@model cngfapco.Models.User
@{
    Layout = null;
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script type="text/javascript">
    debugger;
    $(document).ready(function () {
        $('#Password, #ConfirmedPassword').on('keyup', function () {
            if ($('#Password').val() == $('#ConfirmedPassword').val()) {
                $('#message').html('تایید کلمه عبور با کلمه عبور برابر می باشد!').css('color', 'green');
                //$('#btnSave').removeAttr('disabled');
            } else
                $('#message').html('تایید کلمه عبور با کلمه عبور برابر نیست!').css('color', 'red');
            //$('#btnSave').attr('disabled', 'disabled');
        });
    });
</script>


<div class="">
    <div class="">
        @using (Html.BeginForm("UserPasswordUpdate", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.Hidden("userID", Model.UserID)

                <div class="form-group">
                    <label>کلمه عبور فعلی</label>
                    <div class="col-md-10">
                        <input class="form-control" name="CurrPassword" type="password">
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label>کلمه عبور جدید</label>
                    <div class="col-md-10">
                        <input class="form-control" name="Password" type="password">
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label>تایید کلمه عبور جدید</label>
                    <div class="col-md-10">
                        <input class="form-control" name="ConfirmedPassword" type="password">
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        <span id="message"></span>
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <span class="progress-demo">
                            <button class="ladda-button btn-success" data-color="mint" data-style="expand-left" data-size="s" id="btnSave" onclick="return handleChange()" style="font-family:'B Yekan'"><i class="zmdi zmdi-floppy zmdi-hc-fw"></i>تغییر کلمه عبور</button>
                        </span>
                    </div>
                </div>

            </div>
        }
    </div>
</div>

